@page "/getintouch"


<div class="text-center border my-5 rounded-3">
    <div class="display-6 border-bottom">
        Contact
    </div>
    <div class="lead">
        <i class="fa-solid fa-phone text-warning my-3  bg-secondary text-white rounded-5"></i>
        <p>
            +111 1111 11 11
        </p>
        <i class="fa-solid fa-address-book text-warning my-3  bg-secondary text-white rounded-5"> </i>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Unde ipsam sunt dolorum id in ab optio eos, ullam, qui a, temporibus at quae autem adipisci est.
            Numquam quisquam debitis, minima modi esse, quo sed illo rem beatae eveniet quidem repellat eum quasi eligendi consequatur, 
            recusandae ipsam voluptas dolorum commodi officia! Eius doloribus facere earum ipsa expedita quibusdam molestias fugiat,
            enim saepe quam aspernatur! Blanditiis itaque quisquam impedit iure placeat nam maxime asperiores id, dolores necessitatibus veniam? 
            Temporibus recusandae numquam qui, unde a dolores! Fuga dolorum dolor delectus asperiores molestias voluptate odio ad optio, corrupti
            culpa temporibus placeat saepe nesciunt eos.
        </p>
        <i class="fa-solid fa-envelope text-warning my-3  bg-secondary text-white rounded-5"> </i>
        <p>
            TestMail@test.com
        </p>
    </div>
</div>